body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  margin: 0;
}
.hidden {
  display: none;
}
.container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 280px;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container .controls {
  margin: 20px 0;
}
.container div.volume {
  display: inline;
  color: #007bff;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
.container div#amp-value {
  display: inline;
  width: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.container button.play {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
h1 {
  color: #1a1a1a;
  margin-top: 0;
}
button.padmode {
  border: 1px solid #404040;
  background-color: #555;
  color: #f0f0ff;
  padding: 2px 10px;
  margin: 3px 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}
button.padmode.padmode.on {
  background-color: #007bff;
  color: #f0f0ff;
  font-weight: bold;
}
.control-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.control-group label {
  font-weight: bold;
  margin: 0;
  /* width: 100px; */
  /* max-width: 100px; */
  min-width: 71px;
  /* border: 1px solid red; */
  text-align: right;
  margin-right: 10px;
}
.control-group label.indent {
  padding-left: 20px;
}
.control-group input[type="range"] {
  flex: 1;
}
.control-group span {
  padding: 2px 0px;
  margin-left: 20px;
  border-radius: 4px;
  margin-top: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.container select {
  width: 200px;
}
#status {
  margin-top: 20px;
  color: #666;
  font-style: italic;
}
.panel {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.panel h3 {
  color: #007bff;
}
.panel .panel-controls {
  height: 33px;
  padding: 4px 0;
  text-align: left;
  display: flex;
}
.panel .pad-area {
  position: relative;
  overflow: hidden;
  width: 100%;
  flex: 1;
}
.panel .canvas-container {
  position: absolute;
}
.panel .canvas-container canvas.dynamic {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: none;
}
[mode="motion"] .panel .canvas-container canvas.dynamic.wave {
  opacity: 0.2;
}
.panel .canvas-container .subpanel {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
}
.panel .canvas-container .subpanel.help-on-line .content {
  overflow: auto;
}
.panel .canvas-container .subpanel .content {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  margin: 0;
  padding: 6px 20px;
}
[mode="motion"] .panel .canvas-container .subpanel .content {
  background-color: rgba(255, 255, 255, 0.65);
}
.panel .canvas-container .subpanel .content .control-group {
  display: flex;
  flex-direction: row;
}
.panel .canvas-container .subpanel .content .control-group input[type="range"] {
  flex: 1;
}
.panel .canvas-container .subpanel .content label {
  width: 100px;
  margin-right: 12px;
}
.panel .canvas-container .subpanel .content .text {
  width: 100px;
  margin-right: 12px;
}
.panel .canvas-container .subpanel .content .spaceright {
  width: 250px;
}
.panel .canvas-container .subpanel .content input[type="radio"] {
  margin-left: 25px;
}
.panel .canvas-container .subpanel.settings-controls .content {
  background: linear-gradient(to bottom, white 0%, white 15%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
}
.panel .canvas-container .subpanel .lfoshape {
  position: relative;
  padding: 10px 0;
  min-height: 140px;
}
.panel .canvas-container .subpanel .lfoshape * {
  z-index: 2;
}
.panel .canvas-container .subpanel .lfoshape input[type="range"] {
  flex: none;
  width: 40%;
}
.panel .canvas-container .subpanel .lfoshape canvas {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
/* .worker-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center;
}

.worker-buttons button {
	padding: 8px 12px;
	font-size: 12px;
	min-width: 80px;
	background-color: #28a745;
}

.worker-buttons button:hover:not(:disabled) {
	background-color: #218838;
}

.worker-buttons button:nth-child(2) {
	background-color: #dc3545;
}

.worker-buttons button:nth-child(2):hover:not(:disabled) {
	background-color: #c82333;
}
 */
.dragover {
  background-color: yellow !important;
  border: 2px solid #000080 !important;
}
.container .preset {
  border: 1px solid gray;
  background-color: #c0c0c0;
}
.debug-monitor {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
  background-color: white;
  color: black;
  padding: 5px;
  width: 200px;
  overflow: hidden;
}
/*-------*/
.rcontrols {
  display: inline;
  text-align: right;
  flex: 1;
}
.rcontrols.hidden {
  display: none;
}
/*.dropdown {
    position: absolute;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 120px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.dropdown li {
    padding: 8px 12px;
}

.dropdown li:hover {
    background: #f0f0f0;
}

.hidden {
    display: none;
}
*/
.file-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
  border: 1px solid #aaa;
  padding: 4px 6px;
  background-color: #f0f0f0;
  border-radius: 3px;
  margin-top: 4px;
}
.file-input .hint {
  color: #808080;
}
.file-input .row {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.file-input .row .name {
  font-size: 12px;
}
.file-input button {
  width: 70px;
}
.file-input label {
  font-weight: bold;
  text-align: left;
  margin-right: 10px;
  flex: 1;
}
.file-input select[par="merge-mode"] {
  width: 120px;
}
.file-input.meter {
  padding: 0;
  height: 73px;
  box-sizing: border-box;
}
.file-input.meter canvas {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background-color: #f0f0f0;
  margin: 1px 0;
}
.file-input div.side-label {
  display: inline;
  color: #007bff;
  font-size: 0.75em;
  padding: 0;
  width: 50px;
  text-align: center;
  margin: 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
/* Finestra modale */
.modal-window {
  background: white;
  border-radius: 8px;
  max-width: 800px;
  width: auto;
  padding: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
/* Caption */
.modal-caption {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
/* Pulsanti */
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}
.modal-buttons button {
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}
#modal-load-preset {
  width: 450px;
}
kbd {
  background-color: rgba(50, 50, 50, 0.5);
  border: 1px solid #b6bec6;
  border-radius: 2px;
  padding: 0 2px;
}
.drop-wave-bar {
  position: absolute;
  background-color: #ffffc0;
  border: 2px solid #007bff;
  border-radius: 5px;
  z-index: 300;
  opacity: 0;
}
.drop-wave-bar.dragover {
  opacity: 1;
}
/* Spinner e overlay */
#spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
